# Virtual Environment
venv/
ENV/
env/

# Sensitive Firebase Keys
firebase_key.json

# Local Vector Database (Optional to ignore if heavy, or keep if small)
cyber_kb/

# Python Bytecode
__pycache__/
*.py[cod]
